* {
    padding: 0;
    margin: 0;
    /* font-size: 16px; */
    box-sizing: border-box;
}

.frame {
    /* display: inline-block; */
    /* border: solid; */
    max-width: 900px;
    min-width: 500px;
    margin: auto;
    width: calc(100% - 30px);
    height: 100%;
}




/* GENERAL BAR */
#general_bar {
    background-color: rgba(170, 170, 170, 0.8);
    /* border: solid; */
    height: 45px;
    min-width: 530px;
}
#f_gen_bar {
    display: flex;
    align-items: center;
}
/* #f_gen_bar > * {
    border: solid;
} */
#f_gen_bar > button {
    /* border: solid; */
    padding-left: 10px;
    padding-right: 10px;
    height: 27px; /* 27px */
    border-radius: 5px;
}
.gen_butt {
    cursor: pointer;
}
.gen_butt:active {
    transform: translateY(1px);
}
#b_menu {
    width: 140px;
    border: none;
    font-size: 14px;
}
#f_logo {
    margin-left: auto;
    margin-right: auto;
    border: none;
}
#b_logo {
    background-color: transparent;
    border: none;
    font-size: 16px;
}
#b_account {
    width: 140px;
    border: none;
    font-size: 14px;
}




/* POPUP BAR */
.pop_up {
    /* border: solid; */
    /* height: 400px; */
    display: block;
    align-self: flex-start;                 /* потужно */
    padding: 7px 0px 7px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(239, 239, 239);
    width: 170px;
    /* z-index: 1; */
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.pop_up > div {
    width: calc(100% - 20px);
    margin: 4px 0 4px 0;
    word-break: break-all;
    text-align: center;
}
.pop_up > form {
    width: calc(100% - 20px);
    /* margin: 4px 0 4px 0; */
    /* background-color: red; */
}
/* .pop_up > button {
    font-size: 14px;
    padding: 2px 3px 2px 3px;
    text-align: left;
    box-sizing: border-box;
    width: 150px;
    display: block;
} */
.pop_up > form > button, .pop_up > button {
    width: 150px;
    display: block;
    /* border: none; */
    font-size: 14px;
    padding: 2px 3px 2px 3px !important;
    margin: 4px 0 4px 0;
    text-align: left;
    box-sizing: border-box;
}
/* >> hr style */
.pop_up > .border_pup {
    /* border: solid; */
    width: 145px;
    height: 2px;
    background-color: black;
    margin: 9px 0px 9px 0px;
}

#pop_up_bar {
    /* display: flex; */
    /* border: solid; */
    width: 100%;
    position: fixed;
    z-index: -1;
}

#pop_up_wins {
    /* border: solid; */
    margin: auto;
    display: flex;
    flex-direction: row;
    /* align-content: center; */

    max-width: 930px;
    min-width: 200px;
    width: 100%;
    z-index: -1;
}
#menu_menu {
    margin-right: auto;
    visibility: hidden;
}
#menu_account {
    margin-left: auto;
    visibility: hidden;
}




/* CONTENT BAR */
#content_bar {
    /* display: flex; */
    /* border: solid; */
    /* padding-top: 20px; */
    /* overflow-x: auto; */
    min-height: calc(100vh - 75px);
    min-width: 530px;
}
#f_con_bar {
    /*overflow-x: auto;*/           /*!!!!!!!!!!!!!!!!*/
    padding-top: 6px;
    padding-bottom: 6px;
    /* border: solid; */
    height: calc(100% - 12px);
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    min-height: 300px;
    /* margin-top: 7px;
    margin-bottom: 7px; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
#user_data {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#text_auth {
    margin-bottom: 18px;
    font-size: 20px;
}
#user_data > input {
    height: 28px;
    width: 175px;
    margin-bottom: 12px;
}
#b_enter {
    width: 120px;
    margin-top: 5px;
    height: 25px;
}


/* SECOND BAR */
#second_bar {
    /* overflow-x: hidden; */                   /*!!!!!!!!!!!!!!!!*/
    /* border: solid; */
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    margin: 6px 0px 12px 0px;                       /*!!!!!!!!!!!!!!!!*/
    width: calc(100%-12px);                         /*!!!!!!!!!!!!!!!!*/
    /* min-width: 500px; */
    padding: 0px 10px 0px 10px;
}

.secb_b {
    cursor: pointer;
}
.secb_b:active {
    background-color: white !important;
    transform: translateY(1px);
}

#second_bar > button {
    height: 27px;
    margin-left: 8px;
    padding: 0 7px 0 7px;
    border-radius: 4px;
    border: 1px solid grey;              /* Можна встановити і на інші кнопки, які з бордером */
    background-color: rgba(223, 223, 223, 0.8);
}
#second_bar > input {
    height: 27px;
    margin-left: 8px;
}

#secb_ref_block {
    /* border: solid; */
    /* flex-shrink: 1; */
    flex: 1;
    min-width: 250px;       /*!!!!!!!!!!!!!!!!*/
    margin-right: auto;
}
.secbb_ref_item {
    text-decoration: none;
    color: black;
}

#secb_right_block, #secb_right_form {
    /* border: solid; */
    display: flex;
    margin-left: 4px;
}
#secb_right_block > button, #secb_right_form > button {
    height: 27px;
    margin-left: 4px;
    padding: 0 7px 0 7px;
    border-radius: 4px;
    border: 1px solid grey;
    background-color: rgba(223, 223, 223, 0.8);
}
#secb_right_form > input {
    height: 27px;
    margin-left: 4px;
}


/* CONTENT */
.title1 {
    /* border: solid; */
    /* min-width: 500px; */
    /* height: 60px; */
    font-size: 21px;
    margin: 30px 30px 0 30px;
}
.title2 {
    font-size: 18px;
    margin: 24px 50px 0 50px;
}
.title3 {
    font-size: 16px;
    margin: 20px 70px 0 70px;
}
.border_t1 {
    /* width: 145px; */
    margin-top: 5px;
    height: 1.5px;
    background-color: black;
}
.border_t2 {
    /* width: 145px; */
    margin-top: 5px;
    height: 1px;
    background-color: black;
}
.border_t3 {
    /* width: 145px; */
    margin-top: 5px;
    height: 0.8px;
    background-color: black;
}
/* .border_t2 {

} */

/* Block of items */
.enum_block_shape {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.enum_block_padding {
    padding: 20px 50px 0 50px;
    /* border: solid; */
}
/* .form_en_bl {
    width: 100%;
    height: 100%;
} */
.it_bl_st {
    width: calc((100% - 100px)*0.3103448276);
    margin-right: calc((100% - 100px)*0.02298850575);
}
.item_block {
    font-size: 14px;
    background-color: white;
    border: 1px solid;
    border-radius: 7px;
    height: 60px;
    padding: 5px;
    width: calc(100%*0.3176470588);
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.it_bl_not_last {
    margin-right: calc(100%*0.02352941176);
}

.enum_extra_buttons_block {
    display: flex;
    flex-direction: column;
    /* width: calc(100%*0.1*2); */
}
/* .fir_ex_but {
    margin-bottom: 6px;
} */
.enum_extra_button {
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-radius: 4px;
    width: 100px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 10px; */
    /* margin-bottom: 10px; */
    /* width: calc(100%*0.3); */
}

/* Descriprion */
.descrip_block2 {
    padding: 15px 50px 0 50px;/* 15px - top */
}
.descrip_block3 {
    padding: 15px 70px 0 70px;/* 15px - top */
}
.inline_title {
    /* margin-top: 30px;
    margin-bottom: 30px; */
}
.inline_element {
    /* border: solid; */
    display: flex;
    flex-direction: row;
}
.inline_delimiter {
    width: 18px;
    /* height: 10px; */
}
.space_end {
    height: 40px;
}





/* ADD BAR */
#add_bar {
    background-color: rgba(170, 170, 170, 0.8);
    /* display: block; */
    /* border: solid; */
    height: 30px;
    min-width: 530px;
    /* border-radius: 5px; */
}
#f_add_bar {
    display: flex;
    align-items: center;
}
#text_add {
    font-size: 15px;
}










.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__body form {
    background-color: rgba(255, 255, 255, 255);
    color: #000;
    width: 400px;
    padding: 15px;
    text-align: left;
    transition: all 0.5s ease 0s;
    border-radius: 5px;
    opacity: 0;
    transform: perspective(600px) translate(0px, -150%) rotateX(45deg);
}

.popup.active {
    opacity: 1;
    visibility: visible;
}

.popup.active form {
    opacity: 1;
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}

.popup__content {
    
    p {
        margin-bottom: 15px;
    }
}

textarea {
    min-height: 120px;
}

.popup__content input[type="text"],
.popup__content textarea {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    margin-bottom: 15px;
    resize: none;
}

/* .update-btn > button, .in_add_disc > button {
    border: solid;
    background-color: rgb(218, 218, 231);
    padding: 0px 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: -3px;
    color: black;
    height: 26px;
    text-decoration: none;
} */

/* .update-btn > button:hover, .in_add_disc > button:hover {
    background-color: rgba(200, 200, 200, 0.5);
    cursor: pointer;
} */
