* {
    padding: 0;
    margin: 0;
}

.frame {
    max-width: 900px;
    min-width: 200px;
    margin: auto;
    width: calc(100% - 30px);
    height: 100%;
}



#general_bar {
    background-color: rgba(177, 177, 177, 0.8);
    height: 45px;
}
#f_gen_bar {
    display: flex;
    align-items: center;
}
#f_gen_bar > * {
    border: solid;
}
#f_gen_bar > button {
    padding-left: 10px;
    padding-right: 10px;
    height: 26px;
    border-radius: 5px;
}
#menu {
    
}
#logo {
    margin-left: auto;
    margin-right: auto;
}
#account {
    
}

#content_bar {
    height: calc(100vh - 75px);
}
#f_con_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}
#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#text_auth {
    margin-bottom: 18px;
    font-size: 20px;
}
#login-form > input {
    padding-left: 4px;
    height: 28px;
    width: 175px;
    margin-bottom: 12px;
}
#b_enter, .back {
    width: 120px;
    margin-top: 5px;
    height: 25px;
}

.login-error {
    height: 40px;
    margin: 15px 0 0 0;
    color: red;
    font-weight: bold;
    animation: blink 1.5s ease-in-out infinite;
    opacity: 0;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50%  { opacity: 0.1; }
}

#add_bar {
    background-color: rgb(213, 213, 213);
    height: 30px;
}
#f_add_bar {
    display: flex;
    align-items: center;
}
#text_add {
    
}

#back {
    background-color: rgb(218, 218, 231);
    padding: 1px 10px;
    border-radius: 5px;
    margin-right: 10px;
    color: black;
    text-decoration: none;
}

#back:hover {
    background-color: rgba(200, 200, 200, 0.5);
}
