{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна сторінка</title>
    <link rel="stylesheet" href="{% static 'css/st_general.css' %}">
</head>
<body>
    <div id="general_bar">
        <div class="frame" id="f_gen_bar">
            <button id="b_menu">Меню</button>
            <form id="f_logo" action="{% url 'general' %}">
                <button id="b_logo">logo or name</button>
            </form>
            <form id="f_account" action="{% url 'login' %}">
                <button id="b_account">Увійти</button>
            </form>
        </div>
    </div>
    <div id="pop_up_bar">
        <div id="pop_up_wins">
            <div id="menu_menu" class="pop_up">
                <form class="menu" action="{% url 'general' %}">
                    <button id="lalka1" type="submit">На головну</button>
                </form>
                <form class="menu">
                    <button id="lalka2" type="submit">Про нас</button>
                </form>
                <form class="menu">
                    <button id="lalka3" type="submit">button 3</button>
                </form>
                <form class="menu">
                    <button id="lalka3" type="submit">button 4</button>
                </form>
            </div>
        </div>
    </div>
    <div id="content_bar">
        <div class="frame" id="f_con_bar">
            Це головна сторінка, тут будуть списки дисциплін, які можуть переглядати користувачі
        </div>
    </div>
    <div id="add_bar">
        <div class="frame" id="f_add_bar">
            <label id="text_add">some addition information</label>
        </div>
    </div>

    <script src="{% static 'js/skr_general.js' %}"></script>
</body>
</html>
