* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.frame {
    max-width: 900px;
    min-width: 500px;
    margin: auto;
    width: calc(100% - 30px);
    height: 100%;
}




/* GENERAL BAR */
#general_bar {
    background-color: rgba(170, 170, 170, 0.8);
    height: 45px;
    min-width: 530px;
}
#f_gen_bar {
    display: flex;
    align-items: center;
}
#f_gen_bar > button {
    padding-left: 10px;
    padding-right: 10px;
    height: 27px; /* 27px */
    border-radius: 5px;
}
.gen_butt {
    cursor: pointer;
}
.gen_butt:active {
    transform: translateY(1px);
}
#b_menu {
    width: 140px;
    border: none;
    font-size: 14px;
}
#f_logo {
    margin-left: auto;
    margin-right: auto;
    border: none;
}
#b_logo {
    background-color: transparent;
    border: none;
    font-size: 16px;
}
#b_account {
    width: 140px;
    border: none;
    font-size: 14px;
}




/* POPUP BAR */
.pop_up {
    display: block;
    align-self: flex-start;
    padding: 7px 0px 7px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(239, 239, 239);
    width: 170px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.pop_up > div {
    width: calc(100% - 20px);
    margin: 4px 0 4px 0;
    word-break: break-all;
    text-align: center;
}
.pop_up > form {
    width: calc(100% - 20px);
    margin: 4px 0 4px 0;
}
.pop_up > form > button {
    width: calc(100%);
    display: inline-block;
    font-size: 14px;
    padding: 2px 3px 2px 3px;
    text-align: left;
    font-size: 14px;
}
/* >> hr style */
.pop_up > .border_pup {
    width: 145px;
    height: 2px;
    background-color: black;
    margin: 9px 0px 9px 0px;
}

#pop_up_bar {
    width: 100%;
    position: fixed;
    z-index: -1;
}

#pop_up_wins {
    margin: auto;
    display: flex;
    flex-direction: row;

    max-width: 930px;
    min-width: 200px;
    width: 100%;
    z-index: -1;
}
#menu_menu {
    margin-right: auto;
    visibility: hidden;
}
#menu_account {
    margin-left: auto;
    visibility: hidden;
}




/* CONTENT BAR */
#content_bar {
    min-height: calc(100vh - 75px);
    min-width: 530px;
}
#f_con_bar {
    padding-top: 6px;
    padding-bottom: 6px;
    height: calc(100% - 12px);
    min-height: 300px;
}
#user_data {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#text_auth {
    margin-bottom: 18px;
    font-size: 20px;
}
#user_data > input {
    height: 28px;
    width: 175px;
    margin-bottom: 12px;
}
#b_enter {
    width: 120px;
    margin-top: 5px;
    height: 25px;
}


/* SECOND BAR */
#second_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    margin: 6px 0px 12px 0px;
    width: calc(100%-12px);
    padding: 0px 10px 0px 10px;
}

.secb_b {
    cursor: pointer;
}
.secb_b:active {
    background-color: white !important;
    transform: translateY(1px);
}

#second_bar > button {
    height: 27px;
    margin-left: 8px;
    padding: 0 7px 0 7px;
    border-radius: 4px;
    border: 1px solid grey;
    background-color: rgba(223, 223, 223, 0.8);
}
#second_bar > input {
    height: 27px;
    margin-left: 8px;
}

#secb_ref_block {
    flex: 1;
    min-width: 250px;
    margin-right: auto;
}
.secbb_ref_item {
    text-decoration: none;
    color: black;
}

#secb_right_block, #secb_right_form {
    display: flex;
    margin-left: 4px;
}
#secb_right_block > button, #secb_right_form > button {
    height: 27px;
    margin-left: 4px;
    padding: 0 7px 0 7px;
    border-radius: 4px;
    border: 1px solid grey;
    background-color: rgba(223, 223, 223, 0.8);
}
#secb_right_form > input {
    height: 27px;
    margin-left: 4px;
}


/* CONTENT */
.title1 {
    font-size: 21px;
    margin: 30px 30px 0 30px;
}
.border_t1 {
    margin-top: 5px;
    height: 1.5px;
    background-color: black;
}
.title2 {
    font-size: 18px;
    margin: 20px 50px 0 50px;
}
.border_t2 {
    margin-top: 5px;
    height: 1px;
    background-color: black;
}

/* Block of items */
.enum_block_shape {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.enum_block_padding {
    padding: 20px 50px 0 50px;
}
.it_bl_st {
    width: calc((100% - 100px)*0.3103448276);
    margin-right: calc((100% - 100px)*0.02298850575);
}
.item_block {
    font-size: 14px;
    background-color: white;
    border: 1px solid;
    border-radius: 7px;
    height: 60px;
    padding: 5px;
    width: calc(100%*0.3176470588);
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.it_bl_not_last {
    margin-right: calc(100%*0.02352941176);
}

.enum_extra_buttons_block {
    display: flex;
    flex-direction: column;
}
.enum_extra_button {
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-radius: 4px;
    width: 100px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Descriprion */
.descrip_block {
    padding: 15px 50px 0 50px;
}
.inline_title {
    margin-top: 30px;
    margin-bottom: 30px;

}
.inline_element {
    display: flex;
    flex-direction: row;
}
.inline_delimiter {
    width: 18px;
}




/* ADD BAR */
#add_bar {
    background-color: rgba(170, 170, 170, 0.8);
    height: 30px;
    min-width: 530px;
}
#f_add_bar {
    display: flex;
    align-items: center;
}
#text_add {
    font-size: 15px;
}
