
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    padding-top: 10px;
}

body.lock {
    overflow: hidden;
}


#logout {
    background-color: rgb(218, 218, 231);
    padding: 1px 10px;
    border-radius: 5px;
    margin-right: 10px;
    color: black;
    text-decoration: none;
    border: solid;
}

#logout:hover {
    background-color: rgba(200, 200, 200, 0.5);
}

.teacher-navigation {
    display: flex;
    justify-content:space-between;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__body form {
    background-color: rgba(255, 255, 255, 255);
    color: #000;
    width: 400px;
    padding: 15px;
    text-align: left;
    transition: all 0.5s ease 0s;
    border-radius: 5px;
    opacity: 0;
    transform: perspective(600px) translate(0px, -150%) rotateX(45deg);
}

.popup.active {
    opacity: 1;
    visibility: visible;
}

.popup.active form {
    opacity: 1;
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}

.popup__content {
    
    p {
        margin-bottom: 15px;
    }
}

textarea {
    min-height: 120px;
}

.popup__content input[type="text"],
.popup__content textarea {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    margin-bottom: 15px;
    resize: none;
}

button {
    border: solid;
    background-color: rgb(218, 218, 231);
    padding: 0px 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: -3px;
    color: black;
    height: 26px;
    text-decoration: none;
}

button:hover {
    background-color: rgba(200, 200, 200, 0.5);
    cursor: pointer;
}