.discipline {
    
}

body {
    padding-top: 10px;
}

button, a {
    border: solid;
    background-color: rgb(218, 218, 231);
    padding: 1px 10px;
    border-radius: 5px;
    margin-right: 10px;
    color: black;
    height: 26px;
    text-decoration: none;
}

a {
    padding: 2px 10px;
}

button:hover, a:hover {
    background-color: rgba(200, 200, 200, 0.5);
    cursor: pointer;
}
