body {
    padding-top: 110px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(190, 190, 190, 1);
    width: 100%;
}



button, a {
    border: solid;
    background-color: rgb(218, 218, 231);
    padding: 1px 10px;
    border-radius: 5px;
    margin-right: 10px;
    color: black;
    height: 26px;
    text-decoration: none;
}

a {
    padding: 2px 10px;
}

button:hover, a:hover {
    background-color: rgba(200, 200, 200, 0.5);
    cursor: pointer;
}

input {
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
}

header p {
    padding: 0;
    margin: 10px 0;
}

.login {
    margin-right: 10px;
    margin-top: 5px;
}

.download {
    margin-bottom: 10px;
}

.text_discipline {
    margin: 0 0 10px 0;
}
