* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

.frame {
    max-width: 900px;
    min-width: 500px;
    margin: auto;
    width: calc(100% - 30px);
    height: 100%;
}




/* GENERAL BAR */
#general_bar {
    background-color: rgba(170, 170, 170, 0.8);
    /* border: solid; */
    height: 45px;
    min-width: 530px;
}
#f_gen_bar {
    display: flex;
    align-items: center;
}
#f_gen_bar > button, #f_gen_bar > form > button {
    /* border: solid; */
    padding-left: 10px;
    padding-right: 10px;
    min-height: 27px; /* 27px */
    border-radius: 5px;
}
.gen_butt {
    cursor: pointer;
}
.gen_butt:active {
    transform: translateY(1px);
}
#b_menu {
    width: 140px;
    border: none;
    font-size: 14px;
    padding: 1px 0 1px 0;
}
#f_logo {
    margin-left: auto;
    margin-right: auto;
    border: none;
}
#b_logo {
    background-color: transparent;
    border: none;
    font-size: 16px;
}
#b_account {
    width: 130px;/* 140px */
    border: none;
    font-size: 14px;
}




/* POPUP BAR */
.pop_up {
    display: block;
    align-self: flex-start;
    padding: 7px 0px 7px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(239, 239, 239);
    width: 170px;
    /* z-index: 1; */
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.pop_up > div {
    width: calc(100% - 20px);
    margin: 4px 0 4px 0;
    word-break: break-all;
    text-align: center;
}
.pop_up > form {
    width: calc(100% - 20px);
    margin: 4px 0 4px 0;
    /* background-color: red; */
}
.pop_up > form > button {
    width: calc(100%);
    display: inline-block;
    /* border: none; */
    font-size: 14px;
    padding: 2px 3px 2px 3px;
    text-align: left;
}
/* >> hr style */
.pop_up > .border_pup {
    /* border: solid; */
    width: 145px;
    height: 2px;
    background-color: black;
    margin: 9px 0px 9px 0px;
}

#pop_up_bar {
    width: 100%;
    position: fixed;
    z-index: -1;
}

#pop_up_wins {
    /* border: solid; */
    margin: auto;
    display: flex;
    flex-direction: row;
    /* align-content: center; */

    max-width: 930px;
    min-width: 200px;
    width: 100%;
    z-index: -1;
}
#menu_menu {
    margin-right: auto;
    visibility: hidden;
}
#menu_account {
    margin-left: auto;
    visibility: hidden;
}




/* CONTENT BAR */
#content_bar {
    display: flex;
    min-height: calc(100vh - 75px);
    min-width: 530px;
}
#f_con_bar {
    padding-top: 6px;
    padding-bottom: 6px;
    /* border: solid; */
    height: calc(100% - 12px);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}
#user_data {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#text_auth {
    margin-bottom: 18px;
    font-size: 20px;
}
#user_data > input {
    height: 28px;
    width: 180px;
    margin-bottom: 12px;
}
#b_enter {
    width: 120px;
    margin-top: 5px;
    height: 25px;
}
.login_error {
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 15px;
    color: red;
    /* background-color: grey; */
}




/* ADD BAR */
#add_bar {
    background-color: rgba(170, 170, 170, 0.8);
    height: 30px;
    min-width: 530px;
    /* border-radius: 5px; */
}
#f_add_bar {
    display: flex;
    align-items: center;
}
#text_add {
    font-size: 15px;
}
