{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="{% url 'index' %}">Backkk</a>
    </div>
    <br>
    <form id="login-form" method="POST">
        {% csrf_token %}
        {{ form.email }}
        {{ form.password }}
        <button type="submit">Login</button>
        <p class="login-error">{{ error }}</p>
    </form>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>