
{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/st_entrace.css' %}">
{% endblock %}

{% block content %}
    <div id="general_bar">
        <div class="frame" id="f_gen_bar">
            <a id="back" href="{% url 'index' %}">Back</a>
            <button id="menu">menu</button>
            <button id="logo">logo or name</button>
            <button id="account">account or autorisation</button>
        </div>
    </div>

    <div id="content_bar">
        <div class="frame" id="f_con_bar">
            <form id="login-form" method="POST">
                {% csrf_token %}
                <label id="text_auth">Авторизація</label>
                {{ form.email }}
                {{ form.password }}
                <button id="b_enter">Далі</button>
                <p class="login-error">{{ error }}</p>
            </form>
        </div>
    </div>

    <div id="add_bar">
        <div class="frame" id="f_add_bar">
            <label id="text_add">some addition information</label>
        </div>
    </div>
{% endblock %}





<!-- Стара сторінка -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сторінка входу</title>
    <link rel="stylesheet" href="{% static 'css/st_login.css' %}">
</head>
<body>
    <div id="general_bar">
        <div class="frame" id="f_gen_bar">
            <button id="b_menu">Меню</button>
            <form id="f_logo" action="{% url 'general' %}">
                <button id="b_logo">logo or name</button>
            </form>
            <form id="f_account" action="{% url 'general' %}">
                <button id="b_account">Назад</button>
            </form>
        </div>
    </div>
    <div id="pop_up_bar">
        <div id="pop_up_wins">
            <div id="menu_menu" class="pop_up">
                <form class="menu" action="{% url 'general' %}">
                    <button id="lalka1" type="submit">На головну</button>
                </form>
                <form class="menu">
                    <button id="lalka2" type="submit">Про нас</button>
                </form>
                <form class="menu">
                    <button id="lalka3" type="submit">button 3</button>
                </form>
            </div>
        </div>
    </div>
    <div id="content_bar">
        <div class="frame" id="f_con_bar">
            <form id="user_data" method="POST">
                {% csrf_token %}
                <label id="text_auth">Авторизація викладача</label>
                {{ form.email }}
                {{ form.password }}
                <button id="b_enter" type="submit">Далі</button>
            </form>
            <p id="error">{{ error }}</p>
        </div>
    </div> -->
    <!-- <script src="{% static 'js/skr_login.js' %}"></script>
</body>
</html> -->