<!-- Сторінка тільки для викладача -->
<!-- base page of teacher -->
<!-- from v1 -->
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Всі дисципліни</title>
    <link rel="stylesheet" href="{% static 'css/new_st_teacher_choo.css' %}">
</head>
<body>
    <div id="general_bar">
        <div class="frame" id="f_gen_bar">
            <button id="b_menu" class="gen_butt">Меню</button>
            <form id="f_logo" action="{% url 'teacher_discips' %}">
                <button id="b_logo">Fcatalog</button>
            </form>
            <button id="b_account" class="gen_butt">Обліковий запис</button>
        </div>
    </div>


    <div id="pop_up_bar">
        <div id="pop_up_wins">
            <div id="menu_menu" class="pop_up">
                <form class="menu" action="{% url 'teacher_discips' %}">
                    <button class="lalka" type="submit">На головну</button>
                </form>
                <button type="reset" class="lalka update-btn" onclick="openPopup()">Додати дисципліну</button>
                <!-- <div class="border_pup"></div>
                <form class="menu">
                    <button class="lalka" type="submit">Про нас</button>
                </form> -->
            </div>
            <div id="menu_account" class="pop_up">
                <div class="account">teacher2@gmail.com</div>
                <form class="account" action="{% url 'logout' %}">
                    <button id="palka2">Вийти</button>
                </form>
            </div>
        </div>
    </div>


    <div id="content_bar">
        <div class="frame" id="f_con_bar">
            <div id="second_bar">
                <div id="secb_ref_block">
                    <label class="secbb_ref_item">Викладач</label>
                    > <a class="secbb_ref_item" href="{% url 'teacher_discips' %}">Дисципліни</a>
                </div>
                <button type="reset" class="secb_b update-btn" onclick="openPopup()">Додати дисципліну</button>
                <form id="secb_right_form" method="POST">
                    {% csrf_token %}
                    <button id="secb_b2" name="type_out" value="-" class="secb_b">Вигляд</button>
                </form>
            </div>

            <div class="content">
                <div class="title1">
                    <label class="text">
                        Всі ваші дисципліни
                    </label>
                    <div class="border_t1"></div>
                </div>

                {% if type_out is 0 %}
                <div class="enum_blocks">
                    {% if disciplines %}
                        {% for el_arr in disciplines %}
                            <div class="enum_block_shape enum_block_padding">
                                <form class="enum_block_shape" method="POST">
                                    {% csrf_token %}
                                    {% for el in el_arr %}
                                        <button name="id" value="{{el.id}}" class="item_block it_bl_st">{{el}}</button>
                                    {% endfor %}
                                </form>
                            </div>
                        {% endfor %} 
                    {% endif %}
                </div>
                {% elif type_out is 1 %}
                    {% if disciplines %}
                        {% for el_arr in disciplines %}
                            {% csrf_token %}
                            {% for el in el_arr %}
                                <div class="title2">
                                    <label class="text">{{el.title}}</label>
                                    <div class="border_t1"></div>
                                </div>
                                <div class="title3 inline_title">
                                    <div class="inline_element">
                                        <label class="text">Викладач:</label>
                                        <div class="inline_delimiter"></div>
                                        <label class="text">{{el.teacher}}</label>
                                    </div>
                                    <div class="border_t2"></div>
                                </div>
                                <div class="title3">
                                    <label class="text">Опис</label>
                                    <div class="border_t2"></div>
                                </div>
                                <div class="descrip_block2">
                                    <label class="text">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{el.description}}
                                    </label>
                                </div>
                            {% endfor %}
                        {% endfor %} 
                    {% endif %}
                {% endif %}
            </div>
        </div>


        <div class="popup" id="popup">
            <div class="popup__body">
                <form method="POST" class="popup__content">
                    {% csrf_token %}
                    <input type="hidden" name="next_page" value="new_discipline">
                    <label for="id_title">Назва:</label>
                    {{ form.title }}
                    <label for="id_description">Опис:</label>
                    {{ form.description }}
                    <button class="in_add_disc" type="submit">Додати</button>
                    <p class="err">{{ error }}</p>
                </form>
            </div>
        </div>

        
        <div class="space_end"></div>
    </div>
    

    <div id="add_bar">
        <div class="frame" id="f_add_bar">
            <label id="text_add">Київ - 2025</label>
        </div>
    </div>


    <script src="{% static 'js/new_skr_teacher_choo.js' %}"></script>
</body>
</html>
