<!-- Сторінка тільки для викладача -->
<!-- base page of teacher -->
<!-- from v1 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Всі дисципліни</title>
    <link rel="stylesheet" href="st_teacher.css">
</head>
<body>
    <div id="general_bar">
        <div class="frame" id="f_gen_bar">
            <button id="b_menu" class="gen_butt">Меню</button>
            <form id="f_logo" action="">
                <button id="b_logo">logo or name</button>
            </form>
            <button id="b_account" class="gen_butt">Обліковий запис</button>
        </div>
    </div>


    <div id="pop_up_bar">
        <div id="pop_up_wins">
            <div id="menu_menu" class="pop_up">
                <form class="menu">
                    <button id="lalka1" type="submit">На головну</button>
                </form>
                <form class="menu">
                    <button id="lalka3" type="submit">Назад</button>
                </form>
                <form class="menu">
                    <button id="lalka4" type="submit">Додати дисципліну</button>
                </form>
                <div class="border_pup"></div>
                <form class="menu">
                    <button id="lalka2" type="submit">Про нас</button>
                </form>
            </div>
            <div id="menu_account" class="pop_up">
                <div class="account">teacher2@gmail.com</div>
                <!-- <form class="account">
                    <button id="palka1">Профіль</button>
                </form> -->
                <form class="account">
                    <button id="palka2">Вийти</button>
                </form>
            </div>
        </div>
    </div>


    <div id="content_bar">
        <div class="frame" id="f_con_bar">
            <div id="second_bar">
                <div id="secb_ref_block">
                    <label class="secbb_ref_item">Викладач</label>
                    > <a class="secbb_ref_item" href="">Головна</a>
                    > <a class="secbb_ref_item" href="">Дисципліни</a>
                </div>
                <!-- <form id="secb_right_form" action="">
                    <input type="text" title="a;df;a;df;sd;f;sd">
                    <button id="secb_b0" class="secb_b">Знайти</button>
                </form> -->
                <form id="secb_right_form" action="">
                    <button id="secb_b0" class="secb_b">Додати дисципліну</button>
                </form>
            </div>

            <div class="content">                           <!-- Клас заглушка -->
                <div class="info">
                    Тут кабінет викладача
                </div>

                <div class="title1">
                    <label class="text">
                        Всі дисципліни
                    </label>
                    <div class="border_t1"></div>
                </div>

                <div class="enum_blocks">                   <!-- Клас заглушка -->
                    <div class="enum_block_shape enum_block_padding">
                        <form class="enum_block_shape">
                            <button class="item_block it_bl_not_last">bl1</button>
                            <button class="item_block it_bl_not_last">bl2</button>
                            <button class="item_block">bl3</button>
                        </form>
                    </div>
                    <div class="enum_block_shape enum_block_padding">
                        <form class="enum_block_shape">
                            <button class="item_block it_bl_not_last">bl4</button>
                            <button class="item_block it_bl_not_last">bl5</button>
                            <button class="item_block">bl6</button>
                        </form>
                    </div>
                    <div class="enum_block_shape enum_block_padding">
                        <form class="enum_block_shape">
                            <button class="item_block it_bl_not_last">bl7</button>
                            <button class="item_block it_bl_not_last">bl8</button>
                            <button class="item_block">bl9</button>
                        </form>
                    </div>
                    <div class="enum_block_shape enum_block_padding">
                        <form class="enum_block_shape">
                            <button class="item_block it_bl_not_last">bl10</button>
                            <button class="item_block it_bl_not_last">bl11</button>
                            <button class="item_block">bl12</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div id="add_bar">
        <div class="frame" id="f_add_bar">
            <label id="text_add">some addition information</label>
        </div>
    </div>


    <script src="skr_teacher.js"></script>
</body>
</html>
